.text-center {
  text-align: center;
}

.control-buttons {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* stack buttons vertically */
  align-items: center; /* center buttons horizontally */
  gap: 10px;
}

/* For tablets and small desktops */
@media (min-width: 768px) {
  .control-buttons {
    flex-direction: row; /* stack buttons horizontally */
    justify-content: center; /* center buttons horizontally */
    gap: 20px;
  }
}

/* For medium desktops */
@media (min-width: 992px) {
  .control-buttons {
    gap: 30px;
  }
}

/* For large desktops and TVs */
@media (min-width: 1200px) {
  .control-buttons {
    gap: 40px;
  }
}

.container {
  margin: 20px auto;
  position: relative;
  height: 500px;
  width: 600px;
  overflow: hidden;
}
